<div class="bg-white w-96 place-self-start">
  <div class="font-semibold">
    Recommended Topics
  </div>
  
  <div class="mt-3 flex flex-wrap gap-3">
    <button class="bg-gray-200 hover:bg-gray-300 duration-300 rounded-full px-4 py-2 font-light text-sm">
      Music
    </button>
    <button class="bg-gray-200 hover:bg-gray-300 duration-300 rounded-full px-4 py-2 font-light text-sm">
      Ux
    </button>
    <button class="bg-gray-200 hover:bg-gray-300 duration-300 rounded-full px-4 py-2 font-light text-sm">
      Strategy
    </button>
    <button class="bg-gray-200 hover:bg-gray-300 duration-300 rounded-full px-4 py-2 font-light text-sm">
      Makers
    </button>
    <button class="bg-gray-200 hover:bg-gray-300 duration-300 rounded-full px-4 py-2 font-light text-sm">
      Time Series Analysis
    </button>
    <button class="bg-gray-200 hover:bg-gray-300 duration-300 rounded-full px-4 py-2 font-light text-sm">
      Gaming
    </button>
    <button class="bg-gray-200 hover:bg-gray-300 duration-300 rounded-full px-4 py-2 font-light text-sm">
      Fintech
    </button>   
  </div>
</div>
  