<div>
  <div class="w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block justify-center" id="notice"><%= notice %></p>
    <% end %>
  
    <div class="flex justify-center items-center">
      <h1 class="font-bold text-4xl mt-6">News</h1>
    </div>
  
    <div class="grid grid-cols-2 gap-2 content-center mt-20 place-items-center">
      <div class="w-full flex flex-col justify-center align-items-end">
        <% if user_signed_in? %>
          <%= render "make_post" %>
        <% end %>
        <%= render "posts" %>
      </div>
      <div class="w-full place-self-start flex justify-center">
        <%= render "trends" %>
      </div>
    </div>
  </div>
</div>

