<div id="<%= dom_id flight %>">
  <%
=begin%>
 <div class="field">
    <%= f.label "Get Email" %> <br />
    <%= f.check_box :send_email %> <br />
  </div> 
<%
=end%>
<%
=begin%>
 name: string, duration: datetime, departure_time: datetime, num_tickets: integer 
<%
=end%>
</div>


